<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  class="svgBackground2"
  fxLayoutAlign="space-around center"
  fxLayoutGap="30px"
>
  <div fxFlex fxFlexFill>
    <mat-card class="myCard">
      <img
        mat-card-image
        src="../../../assets/images/1.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde
          inventore molestias ab adipisci eius nisi placeat at.Lorem ipsum,
          dolor sit amet consectetur adipisicing elit. Fugiat unde inventore
          molestias ab adipisci eius nisi placeat at.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>{{'like'|translate}}</button>
        <button mat-button>{{'share'|translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex fxFlexFill>
    <mat-card class="myCard">
      <img
        mat-card-image
        src="../../../assets/images/2.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde
          inventore molestias ab adipisci eius nisi placeat at.Lorem ipsum,
          dolor sit amet consectetur adipisicing elit. Fugiat unde inventore
          molestias ab adipisci eius nisi placeat at.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>{{'like'|translate}}</button>
        <button mat-button>{{'share'|translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex fxFlexFill>
    <mat-card class="myCard">
      <img
        mat-card-image
        src="../../../assets/images/homme.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde
          inventore molestias ab adipisci eius nisi placeat at.Lorem ipsum,
          dolor sit amet consectetur adipisicing elit. Fugiat unde inventore
          molestias ab adipisci eius nisi placeat at.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>{{'like'|translate}}</button>
        <button mat-button>{{'share'|translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex fxFlexFill>
    <mat-card class="myCard">
      <img
        mat-card-image
        src="../../../assets/images/femme.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde
          inventore molestias ab adipisci eius nisi placeat at.Lorem ipsum,
          dolor sit amet consectetur adipisicing elit. Fugiat unde inventore
          molestias ab adipisci eius nisi placeat at.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>{{'like'|translate}}</button>
        <button mat-button>{{'share'|translate}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
