.myCard {
    min-height: 500px;
    border-radius: 10px;
  }
  
  .myCard:hover {
    box-shadow: 0 0 40px rgba(0,0,0,.2); 
  }

  .svgBackground2 {
    // background-image: url(../assets/images/backgrnd2.svg);
    background-color: whitesmoke;
    min-height: 90vh;
    padding-left: 20px;
    padding-right: 20px;
  }