<div
  fxLayout="column"
  fxFlexAlign="center"
  fxLayoutGap="20px"
  style="padding: 100px;"
>
  <div fxFlex fxFlexFill>
    <mat-form-field appearance="outline" fxFlexFill>
      <mat-label>{{'full name'|translate}}</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <div fxFlex fxFlexFill>
    <mat-form-field fxFlexFill appearance="outline">
      <mat-label>{{'email'|translate}}</mat-label>
      <input matInput placeholder="Ex. fa@gmail.com" />
    </mat-form-field>
  </div>
  <div fxFlex fxFlexFill>
    <mat-form-field class="example-full-width" fxFlexFill appearance="outline">
      <mat-label>{{'subject'|translate}}</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <div fxFlex fxFlexFill>
    <mat-form-field class="example-full-width" fxFlexFill appearance="outline">
      <mat-label>{{'message'|translate}}</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <button mat-flat-button color="accent">{{'send'|translate}}</button>
</div>
