<div
  fxLayout="column"
  fxFlexAlign="space-around center"
  fxLayoutGap="20px"
  style="padding: 100px"
>
  <div fxFlex fxFlexFill>
    <mat-form-field appearance="outline" fxFlexFill>
      <mat-label>Full name</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <div fxFlex fxFlexFill>
    <mat-form-field fxFlexFill appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. fa@gmail.com" />
    </mat-form-field>
  </div>
  <div fxFlex fxFlexFill>
    <mat-form-field class="example-full-width" fxFlexFill appearance="outline">
      <mat-label>Your Subject</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <div fxFlex fxFlexFill>
    <mat-form-field class="example-full-width" fxFlexFill appearance="outline">
      <mat-label>Your Message</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <button mat-flat-button color="accent">Envoyer</button>
</div>
