<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  class="svgBackground2"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card
      class="buttomDiv"
    >
      FREE
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card
      class="buttomDiv"
    >
      FREE
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card
      class="buttomDiv"
    >
      FREE
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card
      class="buttomDiv"
    >
      FREE
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
   <mat-card
      class="buttomDiv"
    >
      FREE
    </mat-card>
  </div>
</div>
