<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  class="svgBackground2"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card class="buttomDiv"> Service #1 </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card class="buttomDiv"> Service #2 </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card class="buttomDiv"> Service #3 </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card class="buttomDiv"> Service #4 </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-card class="buttomDiv"> Service #5 </mat-card>
  </div>
</div>
