
      <div fxLayout="column" class="svgBackground">
        <div
          fxLayout="row"
          fxLayout.sm="column"
          fxLayout.xs="column"
          style="padding-top: 80px"
          fxLayoutAlign="space-around center"
        >
          <div fxFlex style="padding: 20px">
            <h1
              style="
                color: lavender;
                margin: 0 0 24px;
                font-size: 4vw;
                font-weight: 900;
                line-height: 52px;
                text-shadow: 0 4px 4px rgb(0 0 0 / 22%);
              "
            >
              NgLander single page App
            </h1>
            <h2
              style="
                color: lavender;
                margin-left: 40px;
                text-shadow: 0 4px 4px rgb(0 0 0 / 22%);
              "
            >
              Multiple Languages at same time
            </h2>
            <h2
              style="
                color: lavender;
                margin-left: 40px;
                text-shadow: 0 4px 4px rgb(0 0 0 / 22%);
              "
            >
              Support left to Right and Right to left direction
            </h2>
            <h2
              style="
                color: lavender;
                margin-left: 40px;
                text-shadow: 0 4px 4px rgb(0 0 0 / 22%);
              "
            >
              Resposive to mobile view
            </h2>
          </div>
          <div fxFlex>
            <img src="../assets/images/pc.png" width="100%" />
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayout.sm="column"
          fxLayout.xs="column"
          fxLayoutAlign="start center"
          fxLayoutGap="30px"
          style="padding: 20px"
        >
          <div fxFlex="25%" fxFlexFill>
            <button
              mat-raised-button
              fxFlexFill
              color="accent"
              style="padding: 10px 0px 10px 0px"
            >
              $BUY
            </button>
          </div>
          <div fxFlex="25%" fxFlexFill>
            <button
              mat-raised-button
              fxFlexFill
              color="primary"
              style="background-color: #414d9c; padding: 10px 0px 10px 0px"
            >
              FREE TRIAL
            </button>
          </div>
        </div>
      </div>