<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  class="svgBackground2"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
>
<div fxFlex>
  <mat-toolbar color="primary" class="Edges"> Developper </mat-toolbar>
  <mat-card class="buttomDiv" style="font-size: 30px; font-weight: bold">
    FREE
  </mat-card>
</div>
<div fxFlex>
  <mat-toolbar color="accent" class="Edges"> Developper </mat-toolbar>
  <mat-card class="buttomDiv">
    FREE
  </mat-card>
</div>
<div fxFlex>
  <mat-toolbar color="primary" class="Edges"> Developper </mat-toolbar>
  <mat-card class="buttomDiv" >
    FREE
  </mat-card>
  <mat-card class="buttomDiv">
    FREE
  </mat-card>
  <mat-card class="buttomDiv" >
    FREE
  </mat-card>
</div>
<div fxFlex>
  <mat-toolbar color="primary" class="Edges"> Developper </mat-toolbar>
  <mat-card class="buttomDiv" style="font-size: 30px; font-weight: bold">
    FREE
  </mat-card>
</div>
</div>
