<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  class="svgBackground2"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="primary" class="Edges"> Developper </mat-toolbar>
    <mat-card class="buttomDiv" style="font-size: 30px; font-weight: bold">
      FREE
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="accent" class="Edges"> Developper </mat-toolbar>
    <mat-card class="buttomDiv"> FREE </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="primary" class="Edges"> Developper </mat-toolbar>
    <mat-card
      class="buttomDiv"
      style="font-size: 30px; font-weight: bold; border-radius: 0px"
    >
      FREE
    </mat-card>
    <mat-card
      class="buttomDiv"
      style="font-size: 30px; font-weight: bold; border-radius: 0px"
    >
      FREE
    </mat-card>
    <mat-card
      class="buttomDiv"
      style="
        font-size: 30px;
        font-weight: bold;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      "
    >
      FREE
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="primary" class="Edges"> Developper </mat-toolbar>
    <mat-card class="buttomDiv" style="font-size: 30px; font-weight: bold">
      FREE
    </mat-card>
  </div>
</div>
