<div
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  class="svgBackground2"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="primary" class="Edges"> Developper </mat-toolbar
    ><mat-card
      class="buttomDiv"
      style="font-size: 30px; font-weight: bold; min-height: 400px"
    >
      <ul>
        <li><h1 style="font-size: 30px; font-weight: bold;">FREE</h1></li>
        <li>
          <h4>10GB of Bandwidth</h4>
        </li>
        <li>
          <h4>Max 50 connection</h4>
        </li>
        <li>
          <h4>512MB RAM</h4>
        </li>
        <li><h4>Unlimited access</h4></li>
        <li><h4>Unlimited User</h4></li>
        <li><h4>Data analytics</h4></li>
      </ul>
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="accent" class="Edges"> Starter </mat-toolbar>
    <mat-card
      class="buttomDiv"
      style="font-size: 30px; font-weight: bold; min-height: 450px"
    >
    $ 50 /Month
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="primary" class="Edges"> Business </mat-toolbar>
    <mat-card
      class="buttomDiv"
      style="font-size: 30px; font-weight: bold; min-height: 400px"
    >
    $ 130 /Month
    </mat-card>
  </div>
  <div fxFlex fxFlexFill class="myCard">
    <mat-toolbar color="primary" class="Edges"> Entreprise </mat-toolbar
    ><mat-card
      class="buttomDiv"
      style="
        font-size: 30px;
        font-weight: bold;
        min-height: 400px;
      "
    >
    $ 200 /Month
    </mat-card>
  </div>
</div>
