<br />
<br />
<br />
<br />
<br />
  <div fxLayout="column" fxLayoutAlign="space-around center" >
    <div style="background: none">
      <img mat-card-avatar class="mat-card-avatar-big" />
    </div>

    <div fxFlex>
      <mat-card-title>{{ "user" | translate }}</mat-card-title>
    </div>

    <mat-form-field
      fxFlex
      class="example-full-width"
      appearance="outline" style="width: 400px;"
    >
      <input matInput placeholder="{{'password'|translate}}" />
    </mat-form-field>
    <div fxFlex style="width: 400px;" 
    class="example-full-width">
      <button mat-stroked-button color="primary" class="btn-block" fxFlexFill>
        {{'signin'|translate}}
      </button>
    </div>
  </div>
